.logBox {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px;
  z-index: 999;
}
.logBox > * {
  padding: 7px;
  margin: 10px 0;
}
.logBox input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  padding: 10px 20px;
}
.logBox button {
  margin-top: 20px;
  border: none;
  color: white;
  background-color: #000;
  cursor: pointer;
}
#joinHerf {
  font-size: 13px;
  color: #ccc;
  text-align: center;
}
#joinHerf:hover {
  color: #a1b8f5;
}
#loginHerf {
  width: 100%;
  margin-top: 20px;
  padding: 8px 0;
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: white;
  font-size: 14px;
}
